@import "~react-image-gallery/styles/scss/image-gallery.scss";

body{
  overflow-x: hidden;
}

.auction{
    display: flex;
    justify-content: center ;
    width: 100%;

    & &__edit-button{
      padding: 10px;
      // width: 9vw;
      // height: 45px;
      border: none;
      background: #1c9092;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      font-size: 0.9rem;
      cursor: pointer;
      margin: 10px 0;
      margin-bottom: 15px;
    }

    & &__container{
        width: 75%;
        margin: 20px 0;

        h1{
            margin: 0;
            font-size: 1.5rem;
        }

        h2{
            margin: 10px 0;
            font-size: 1.1rem;
            font-weight: 100;
            margin-bottom: 15px;
        }
    }

  & &__img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  & &__gallery{
    max-width: 1100px;
    margin-top: 10px;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #c5c5c588;
    border-style: solid;
    border-radius: 5px;
  }

  
  & &__info-table{
    width: 70%;
    padding-right: 5vw;
    margin-top: 35px;
  }

  table {
   
    border-radius: 1em;
   
  }


  table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #c5c5c588;
    border-style: solid;
    color: #000000;

  }
  
  table.customTable td, table.customTable th {
    border-width: 1px;
    border-color: #c5c5c5b4;
    border-style: solid;
    padding: 10px;
  }

  & &__first-row{
    background: rgba(224, 224, 224, 0.315);
  }

  & &__bottom-container{
    display: flex;
    gap: 25px;
  }

  & &__description{
    h1{
      margin-top: 30px;
    }

    p{
      text-align: justify;
    }
  }

  & &__highlights{

    
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
    }

  
   
  }

  & &__bottom-items-button{
    padding: 10px;
    // width: 9vw;
    // height: 45px;
    border: none;
    background: #1c9092;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    // margin: 10px 0;
    margin-top: 10px;
  }
  & &__equipment{
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
    }

    
  }

  & &__custom-file-input{
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 0.8rem;
    color: #444444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  

  & &__flaws{
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
      
    }

   
  }

  & &__button-container{
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  textarea{
    margin: 15px;
    height: 200px;
    width: 100%;
    box-sizing: border-box; 
    font-size: 16px;
    resize: none; 
    border: none; 
    outline: none;
    border-radius: 5px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #fff;
  color: #444444;
  width: 180px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #fff;
  color: #444444;
  // width: 200px;

 
  
}
  
}

