@import "~react-image-gallery/styles/scss/image-gallery.scss";

body{
  overflow-x: hidden;
}

.auction{
    display: flex;
    justify-content: center;
    width: 100%;

    
    

    & &__edit-button{
      padding: 10px;
      // width: 9vw;
      // height: 45px;
      border: none;
      background: #1c9092;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      font-size: 0.9rem;
      cursor: pointer;
      margin: 10px 0;
      margin-bottom: 15px;
    }

    & &__header{
      font-size: 1rem;
    }

    & &__container{
        width: 70%;
        margin: 25px 0;

        h1{
            margin: 0;
            font-size: 1.2rem;


        }

        

        h2{
            margin: 10px 0;
            font-size: 1.1rem;
            margin-bottom: 15px;

        }
    }

    & &__add-comment-button.active{
      background: #1c9092;
      transition: 0.2s ease;
      color: #fff;
    }

    & &__item{
      background: rgba(31, 31, 31, 0.932);
      margin-bottom: 20px;
      color: #fff;
      width: 34%;
      min-width: 100px;
      display: flex;
      padding: 10px 15px;
      font-size: 1.1rem;
      border-radius: 5px;
      align-items: center;
      // justify-content: center;

      h4{
        margin: 0;
      }

      span {
        color: rgb(175, 175, 175);
      }
   
      
    }

    & &__info{
      background: #1c9092e5;
      width: 10%;
      padding: 10px 0;
      align-items: center;
      display: flex;
      color: #fff;
      margin-bottom: 20px;
      justify-content: center;
      border-radius: 5px;
      min-width: 100px;
      font-weight: bold;
      font-size: 0.9rem;
      transition: 0.2s ease;
      cursor: pointer;
      
      
    }

    & &__info.active{
      background: #e04902e5;
      transition: 0.2s ease;
    }

    & &__infoprice-container{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap : 15px;
    }

  & &__img-container{
    width: 100%;
    display: flex;
    // z-index: -1;
    // position: relative;
    justify-content: center;
    align-items: center;
   
  }

  & &__comment-element-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & &__description-img-container{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  & &__description-img{
    width: 50px;
    img{
      width: 100%;
      border-radius: 50px;
    }
  }

  & &__comment-img-container{
    width: 45px;
    
    img{
      width: 100%;
      border-radius: 50px;
    }
  }

  & &__gallery{
    max-width: 1100px;
    margin-top: 55px;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #c5c5c588;
    border-style: solid;
    border-radius: 5px;
  }

  
  & &__info-table{
    width: 80%;
    padding-right: 1vw;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    
  }

  table {
   
    border-radius: 1em;
   
  }


  table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #c5c5c588;
    border-style: solid;
    color: #000000;

  }
  
  table.customTable td, table.customTable th {
    border-width: 1px;
    border-color: #c5c5c5b4;
    border-style: solid;
    padding: 10px;
  }

  & &__first-row{
    background: rgba(224, 224, 224, 0.315);
  }

  & &__bottom-container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }

  & &__description{
    margin-top: 20px;
    background: rgba(226, 226, 226, 0.712);
    padding: 15px;
    border-radius: 4px;

    h1{
      font-size: 1.2rem;
      
    }
    
    p{
      text-align: justify;
      margin: 8px 0;
      color: #505050;
    }
  }

  & &__highlights{

    
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
    }

  
   
  }

  & &__bottom-items-button{
    padding: 10px;
    // width: 9vw;
    // height: 45px;
    border: none;
    background: #1c9092;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    // margin: 10px 0;
    margin-top: 10px;
  }
  & &__equipment{
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
    }

    
  }

  & &__custom-file-input{
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 0.8rem;
    color: #444444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  

  & &__flaws{
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
      
    }


  }

  & &__comments{
    h1{
      margin-top: 30px;
      margin-bottom: 15px;
      
    }
  }
  

  & &__comments-input{
    border: 1px solid rgba(0, 0, 0, 0.24);
    height: 40px;
    width: 100%;
   
  }

  & &__save-edit-button{
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
    background: #1c9092;
  }

  & &__comments-input-container{
     position: relative;
  }

  & &__comments-items{
    margin: 4px 25px;
    
  }

  & &__comments-icon-owner{
    margin-top: 15.2px;
    background: rgba(112, 5, 233, 0.849);
    border-radius: 5px;
    display: flex;
    width: 20px;
    height: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
  }
  & &__comments-icon-like{
    margin-top: 15.2px;
    // background: rgba(112, 5, 233, 0.849);
    color: #131313;
    border-radius: 5px;
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }


  & &__comments-item{
    h3{
      font-size: 0.95rem;
      margin-bottom: 0px;
    }
    p{
      margin-top: 4px;
      color:#383838;
      font-size: 0.9rem;
    }
  }

  & &__add-comment-button{
    position: absolute;
    top: 9px;
    border-radius: 30px;
    right: 0px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(112, 112, 112, 0.733);
    background: rgba(138, 138, 138, 0.24);
    padding: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s ease;
  }

  & &__button-container{
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  textarea{
    // margin: 15px;
    height: 200px;
    width: 100%;
    box-sizing: border-box; 
    font-size: 16px;
    resize: none; 
    border: none; 
    outline: none;
    border-radius: 5px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #fff;
  color: #444444;
  width: 180px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #fff;
  color: #444444;
  // width: 200px;

 
  
}

}


@media (max-width: 730px) {
  .auction {
    & &__info-table{
      width: 100%;
     padding-right: 0;
    }
  }
}
