
.navbar{   
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100vw;

    & &__container{
        // background: red;
        color: #262626;
        width: 75vw;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(160, 160, 160, 0.329);
    }

    & &__left-content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
        width: 100%;
        margin-right: 10px;
        
        
        

        span{
            color: #1c9092;
            
        }

        a{
            text-decoration: none;
            color: #555555;
        }

        h3{
            font-size: 1rem;
            text-align: center;
            white-space: nowrap;
            color: #555555;
            transition: 0.1s ease;
            cursor: pointer;
            margin-bottom: 0;
            margin-top: 0;

            &:hover{
                
                background: #1c9092;
                padding: 5px 10px;
                border-radius: 4px;
                color: #fff;
                transition: 0.1s ease;

                a {
                    color: #fff;
                }
            }

           
            
        }

        h1{
            font-size: clamp(1rem, 0.4231rem + 3.0769vw, 2.5rem);
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            margin-bottom: 0;
            margin-top: 0;

            a {
                color: #131313;
            }
        }

       
    }

    & &__logout-btn{
        padding: 5px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: #1c9092;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 0.9rem;
        cursor: pointer;
    }

    & &__right-content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        

        input{
            border: none;
            padding: 12px 12px;
            max-width: 30vw;
            min-width: 10vw;
            width: 100%;
            outline: none;
            border-radius: 4px;
            // border: 1px solid rgba(196, 196, 196, 0.692);
            background: rgb(231, 231, 231);
        }

        
    }

    & &__hamburger-menu{
        font-size: 1.5rem;
        margin: 0 20px;
        display: none;
        cursor: pointer;
        position: relative;
    }
    & &__profile-menu{
        font-size: 1.5rem;
        margin: 0 20px;
        // display: none;
        cursor: pointer;
        position: relative;
        width: 150px;
        position: absolute;
        top: 55px;
    }

    & &__hamburger-menu-list{
        position: absolute;
        background: rgb(231, 231, 231);
        top: 45px;
        right: -35px;
        // display: none;
        width: 140px;
        border-radius: 3px;
        z-index: 999;
        transition: 0.3s ease;

        a{
            text-decoration: none;
            color: #131313;
        }

        ul{
            margin: 0;
            padding: 0;
        }
        
        li{
            list-style-type: none;
            font-size: 0.9rem;
            padding: 6px 15px;
            text-align: center;
            display: flex;
            width: 100%;
            gap: 10px;
           
            align-items: center;
        }
    }

    & &__profile-menu-list{
        background: rgb(231, 231, 231);
        // display: none;
        padding: 0 15px;
        border-radius: 10px;
        z-index: 999;
        transition: 0.3s ease;

        a{
            text-decoration: none;
            color: #131313;
        }

        ul{
            margin: 0;
            padding: 10px 0;
        }
        
        li{
            list-style-type: none;
            font-size: 0.9rem;
            padding: 5px 0px;
            text-align: center;
            display: flex;
            width: 100%;
            gap: 10px;
           
            align-items: center;
        }
    }

    & &__hamburger-menu-list.active{
        display: block;
    }

    & &__profile-menu-list.active{
        display: block;
    }

    & &__img-container{
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 45px;
            border-radius: 50px;
        }
    }

    
}

@media (max-width: 1300px) {
    .navbar{
        

       
    }
}

@media (max-width: 1100px) {
    .navbar{
        #first-link{
            display: none;
        }
        #second-link{
            display: none;
        }
        #third-link{
            display: none;
        }

        #four-link{
            display: none;
        }
        & &__hamburger-menu{
            display: flex;
        }


    }
}

@media (max-width: 450px){
    .navbar{
        & &__left-content{
            display: none;
        }
    }
}


