
.auctions{
    width: 80%;
    & &__container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
        grid-column-gap: 20px;
        // justify-content: space-between;
        // flex-wrap: wrap;
        
       

    }

    h2{
        margin-top: -20px;
        margin-bottom: 10px;
    }

    & &__auction-selectors{
        margin: 15px 0;
    }

    & &__auction-selector-container{
        display: flex;
        gap: 15px;
    }

    & &__inside-img-element2{
        position: absolute;
        max-width: 120px;
        width: 100%;
        bottom: 10px;
        left: 10px;
        text-align: center;
        border-radius: 5px;
        background: #181818c5;
        padding: 2px 5px;
        color: rgb(240, 240, 240);  
    }

    & &__inside-img-element{
        cursor: pointer;
        max-width: 25px;
        max-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        bottom: 180px;
        color: rgba(22, 22, 22, 0.808);
        border-radius: 2px;
        padding: 1px;
        transition: 0.2s ease;
        font-size: 1.8rem;
        font-weight: bold;
        left: 307px;
        // background: red;

       
    }

    & &__inside-img-element.active{
        background: #1c9092;
        color: #fff;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        padding: 7px;
        font-size: 0.8rem;
        border-radius: 4px;
        background-color: #ededed;
        color: #000000;
        font-weight: 1px;
        // width: 200px;
    }

    & &__auction-block{
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        

       
        
    }

    & &__auction-block-img{
        height: 215px;
        transition: 0.2s ease;
        position: relative;
        
        &:hover{
           filter:brightness(85%);
           transition: 0.1s ease;


           .auctions__inside-img-element{
            background: #1c9092;
            transition: 0.2s ease;
           }
        }
        

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 3px;

            
        }
    }

    & &__auction-block-text{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        gap: 6px;

        &:hover{
            .auctions__inside-img-element{
                background: #1c9092;
                color: #fff;
            }
        }

        h2{
            font-size: 1rem;
            margin: 0;
        }

        p{
            margin: 0;
            font-size: 0.8rem;
        }
    }
}