
// body{
//     background: rgb(53, 53, 53);
//  }

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
     
 
     & &__container{
        padding-top: 20px;
         flex-direction: column;
         width: 380px;
         height: 650px;
         background: #272727;
         color: #eeeeee;
         border-radius: 13px;
         display: flex;
         justify-content: center;
         align-items: center;
         -webkit-box-shadow: 8px 8px 12px 0px rgba(36, 36, 37, 1);
        -moz-box-shadow: 8px 8px 12px 0px rgba(36, 36, 37, 1);
         box-shadow: 8px 8px 12px 0px rgba(36, 36, 37, 1);
        }
 
     input[type=text] ,input[type=password], input[type=number], input[type=file]{
         border: none;
         padding: 10px 30px;
         border-radius: 4px;
         border: 1px solid rgba(196, 196, 196, 0.692);
     }

     input[type=file]{
        width: 100%;
        margin-top: 5px;
     
     }
 
     & &__input-container{
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         width: 100%;
     }
 
      & &__input-label{
        display: flex;
         justify-content: flex-start;
         width: 70%;
      }

      h1{
        margin-top: 40px;
      }

      p{
        margin-bottom: 25px;
      }
 
     & &__elements{
         display: flex;
         flex-direction: column;
 
         h1{
             text-align: center;
             margin-bottom: 8px;
         }
 
         h3{
             margin-bottom: 5px;
             font-size: 1rem;
             
         }
 
         button{
             margin-top: 20px;
             width: 100%;
             padding: 10px 0px;
             border: none;
             background: rgb(53, 53, 53);
             border-radius: 4px;
             color: #fff;
             text-transform: uppercase;
             cursor: pointer;
             font-weight: bold;
             -webkit-box-shadow: 18px 12px 25px -10px rgba(17, 17, 17, 1);
             -moz-box-shadow: 18px 12px 25px -10px rgba(17, 17, 17, 1);
             box-shadow: 18px 12px 25px -10px rgba(17, 17, 17, 1);
             transition: 0.2s ease;  
         }
 
         button:hover{
             background: #1c9092;
             transition: 0.2s ease;  
         }
 
        
     }

     & &__response{
        text-align: center;
        font-size: 0.9rem;
        width: 80%;
        margin-top: 10px;
     }
 
     & &__register-href{
        //  margin-top: 25px;
         font-size: 0.8rem;
         padding-bottom: 40px;
         text-align: center;
 
         span {
             font-weight: bold;
         }
 
         a{
             text-decoration: none;
             color: #eeeeee;
             transition: 0.2s ease;  
         }
 
         a:hover{
             color: #1c9092;
             transition: 0.2s ease;  
         }
     }
 
    
 }